#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #60a5fa, #a78bfa);
}

body {
  font-family: "Poppins", sans-serif;
}

.weather-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: stretch;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  min-width: 300px;
  min-height: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.search-box {
  display: flex;
  gap: 10px;
}

input {
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  flex: 1;
  min-width: 0;
}

input:focus {
  outline: none;
  border-color: #3b82f6;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.search-btn {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  color: white;
  background-color: #3b82f6;
  transition: 0.3s ease;
}

.search-btn:hover {
  transform: translateY(-2px);
  background-color: #2563eb;
}

.result-area {
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Loading */
.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ddd;
  border-top: 4px solid #3b82f6;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* Weather Result */
.temp-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin-top: 20px;
}

.city-info,
.degree-info,
.weather-info {
  margin: 0;
  color: white;
}

.city-info {
  font-size: 36px;
}

.degree-info {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 56px;
}

.temp-icon {
  color: orange;
  font-size: 60px;
}

.weather-info {
  font-size: 28px;
}